html {
    font-size: 16px;
    letter-spacing: 0.5px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext');

html, body {
  width: 100%;
  height: 100% !important;
}

html {
  overflow-y: auto;
  background-image: url('../images/pattern.jpg');
}

.gradient {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .7;
  content: '';
  z-index: 0;
  position: absolute;
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}

body {
  font-family: 'Roboto', sans-serif !important;
}

.container_ {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding-top: 20px;
  justify-content: center;
}

.box {
  padding: 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}

.box__header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  padding: 30px;
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box__content {
  margin-bottom: 40px;
}

.app__quiz {
  margin: 0 15px;
  flex: 1;
}

.input_ svg {
  height: 16px;
  width: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.input_ input:focus {
  border-bottom: 1px solid #F7DEF7;
}

.input_ input {
  outline: none;
  padding: 15px;
  border-bottom: 1px solid #ededed;
}

.box__footer {
  display: flex;
}

.box__footer .btn {
  flex: 1;
}

.btn {
  padding: 16px;
  display: block;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.btn--gradient {
  color: #fff;
  border-radius: 30px;
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
  transition: all .2s ease-in-out;
}

.btn--gradient:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
}

.app__header {
    z-index: 100;
    margin: 20px;
    flex: 2;
}

.new__quiz {
  flex: 1 1 20%;
  text-align: center;
}

.new__quiz > a {
  width: 100%;
}

.app__content {
    z-index: 10;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex: 6;
}

.quizzes__section {
    flex: 1;
    margin: 30px;
}

.question__title {
    margin: 10px;
}

.question__answers {
    margin: 5px 20px;
}

.app {
    background: url('../images/dust_scratches.png') repeat;
    display: flex;
    width: 80%;
    height: 90%;
    background-color: #FFF;
    z-index: 1;
    border-radius: 4px;
}

.form__input--alert {
    border-bottom: 0.7px solid #a94442 !important;
}

.alert__span {
    width: 100%;
    display: flex;
    justify-content: center;
}

.alert__span > div {
    z-index: 100;
    width: 80%;
    margin-bottom: 10px;
}

.desktop-view {
    flex-direction: column;
}

.section__new {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.form {
  margin: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
    .alert {
        width: 500px;
    }

    .desktop-view {
      flex-direction: row;
    }

}