<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quisser</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway|Rokkitt" rel="stylesheet">
        <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
        <link rel="stylesheet" href="{{ base_url() }}/css/standardize.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/style.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/profile.css">
        <link rel="icon" href="{{ base_url() }}/images/Quisser.ico" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
        <meta name="theme-color" content="#551A8B" />
    </head>
    <body>
        {% include 'templates/partials/navigation.twig' %}

        <div class="container_">
            <div class="gradient"></div>
            
            {% include 'templates/partials/flash.twig' %}
            
            {% block content %}{% endblock %}
        </div>

        {% include 'templates/partials/footer.twig' %}
    </body>
</html>