{% if flash.getMessage('info') %}

<span class="alert__span">
        <div class="alert alert__info">{{ flash.getMessage('info') | first }}</div>
</span>
{% endif %}

{% if flash.getMessage('error') %}
<span class="alert__span">
        <div class="alert alert__error">{{ flash.getMessage('error') | first }}</div>
</span>
{% endif %}